/**
 * Created by PhpStorm.
 * User: Thuan
 * Date: 12/04/2016
 * Time: 3:49 PM
 */

.acc_kgwWAf {
    height: 100%;
}

.acc_ibIQPb {
    height: 100%;
    display: block!important;
    background-color: #fff;
}
.acc_FuZuF{
    height: 100%;
    width: 100%;
}
.acc_FuZuF>div {
    height: 100%;
}
.acc_Yo{
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table!important;
    font-family: 'Roboto','Arial',sans-serif;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
    opacity: 1;
}
.acc_aJ{
    display: table-row;
    height: 100%;
    width: 100%;
}
.acc_aJ>div{
    display: table-cell;
    height: 100%;
    width: 100%;
}
