.form-group {
    margin-bottom: 0 !important;
}

.site-login-bn {
    text-align: center;
}

.site-login-h2 {
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.site-login-cRd {
    background-color: #f7f7f7;

    margin: 0 auto 25px;
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 300px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.site-login-cRbd {
    width: 100%;
    height: 100%;
    padding: 0px 25px 30px;
}

.site-login-cIrM {
    display: block;
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.site-login-cIrM i {
    font-size: 90px;
    color: #b9b9b9;
}

.site-login-cIrM img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
}

.site-login-cTr {
    border: 0;
    height: 83px;
}

.site-login-hDr {
    overflow: hidden;
}

.site-login-cTn {
    padding: 0 44px;
    text-align: center;
}

.site-login-hlF {
    float: right;
    text-align: right;
}

.site-login-bR {
    position: absolute;
    top: 37px;
    width: 24px;
    height: 24px;
    display: block;
    border-style: none;
    cursor: pointer;
}

.signin-card #profile-name {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    min-height: 1em;
}

.signin-card #email-display {
    display: block;
    padding: 0px 8px;
    color: rgb(64, 64, 64);
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.site-login-lug {
    padding: 3px;
}

.site-login-lug button {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #00af9d;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    padding: 0;
    text-transform: uppercase;
}

.site-login-lug ul {
    min-width: 25px;
    width: 25px;
    top: 25px;
    right: 3px;
    left: 299px;
    background-color: #00af9d;
    border-radius: 2px;
}

.site-login-lug ul li {
    width: 23px;
    list-style: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.site-login-lug ul li.divider {
    margin: 0;
}

.site-login-lug button:hover {
    color: #424242;
}

.site-login-lug ul li:hover {
    color: #424242;
}
